.refs
Bin
Makefile.dep
**/*.o
**/*.gch
*_testcases
.vscode*
*CMakeCache.txt
**CMakeFiles*
*_deps
lib
cmake_install.cmake
install_manifest.txt
*.cmake
*.a
*.tcl
Testing/**

CppQueryableTest/Queryable/Performance/Time/Logs/*
